/*Edit profile Css*/

section{
    border: 2px solid white;
    margin: 20px 350px;
    box-shadow: 3px 2px white;
    border-radius: 10px;
}
form{
    text-align: center;
    display: flex;
    text-align: center;
}
.edit{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: auto;
}
label{
    padding: 5px 5px 5px 5px;
}
input{
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 10px;
}

input:hover{
    border: 2px solid wheat;
}

button{
    border: 1px solid white;
    border-radius: 5px;
    font-size: large;
    margin-bottom: 10px;
}
button:hover{
    border: 2px solid wheat;
}